/make/data/tzdata/VERSION
/make/data/tzdata/africa
/make/data/tzdata/antarctica
/make/data/tzdata/asia
/make/data/tzdata/australasia
/make/data/tzdata/backward
/make/data/tzdata/etcetera
/make/data/tzdata/europe
/make/data/tzdata/factory
/make/data/tzdata/iso3166.tab
/make/data/tzdata/leapseconds
/make/data/tzdata/northamerica
/make/data/tzdata/pacificnew
/make/data/tzdata/southamerica
/make/data/tzdata/systemv
/make/data/tzdata/zone.tab
/src/java.base/windows/native/launcher/icons/awt.ico
/src/java.desktop/share/classes/javax/swing/plaf/basic/icons/JavaCup16.png
/src/java.desktop/windows/classes/com/sun/java/swing/plaf/windows/icons/JavaCup32.png
